<p><%= link_to "Créer une liste", new_list_path %></p>

<div class="lists">
  <ul>
    <% @lists.each do |list| %>
      <h1><%= list.name %></h1>
      <p><%= link_to "Afficher le contenu de ma liste", list_path(list) %></p>
      <p><%= link_to "Modifier le contenu de la liste", edit_list_path(list) %></p>
      <p><%= link_to "Supprimer la liste", list_path(list), method: :delete %></p>
    <% end %>
  </ul>
</div>
